main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1400px 1fr;
    grid-template-columns: 1fr 1400px 1fr;
    -ms-grid-rows: auto 20px auto;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 20px;
    padding: 20px 0px;
}

.adlist-common-box {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    padding: 25px 50px;
}

.adlist-content-box {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 2;
    padding: 50px 60px;
}


    .adlist-title-box {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 130px 1fr 130px 130px 130px;
        grid-template-columns: 130px 1fr 130px 130px 130px;
        -ms-grid-rows: 1;
        grid-template-rows: 1;
        padding: 0px 45px 20px;
        border-bottom: 1px solid #aaa;
        color: #333;
        font-size: 1.3rem;
        font-weight: 600;
    }

    .request-date {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
        text-align: center;
    }
    .ad-content {
        -ms-grid-column: 2;
        grid-column: 2;
        -ms-grid-row: 1;
        grid-row: 1;
        text-align: center;
    }

    .end-date {
        -ms-grid-column: 3;
        grid-column: 3;
        -ms-grid-row: 1;
        grid-row: 1;
        text-align: center;
    }
    
    .ad-progress {
        -ms-grid-column: 4;
        grid-column: 4;
        -ms-grid-row: 1;
        grid-row: 1;
        text-align: center;
    }
    
    .ad-adjust {
        -ms-grid-column: 5;
        grid-column: 5;
        -ms-grid-row: 1;
        grid-row: 1;
        text-align: center;
    }

    .adlist-content {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 130px 1fr 130px 130px 130px;
        grid-template-columns: 130px 1fr 130px 130px 130px;
        -ms-grid-rows : 1;
        grid-template-rows: 1;
        padding: 25px 45px;
    }

    .ad-request-date-box {
        display: flex;
        align-items: center;
        justify-content: center;
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
        font-size: 1.2rem;
        color : #555;
    }

    .ad-oneline-content-box {
        display: flex;
        align-items: center;
        -ms-grid-column: 2;
        grid-column: 2;
        -ms-grid-row: 1;
        grid-row: 1;
        overflow: hidden;
        padding-left: 50px;
    }
        .m-ad-date-box {
            display: none;
        }

        .ad-oneline-content-box > a {
            font-size: 1.3rem;
            width: 100%;
            color: #555;
            /* overflow: hidden;
            white-space: nowrap;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis; */
        }

    .ad-end-date-box {
        display: flex;
        align-items: center;
        justify-content: center;
        -ms-grid-column: 3;
        grid-column: 3;
        -ms-grid-row: 1;
        grid-row: 1;
        font-size: 1.2rem;
        color : #555;
    }

    .ad-progress-box {
        display: flex;
        align-items: center;
        justify-content: center;
        -ms-grid-column: 4;
        grid-column: 4;
        -ms-grid-row: 1;
        grid-row: 1;
        font-size: 1.2rem;
    }

    .on-ad {
        color : #23a511;
    }

    .ad-wait-box {
        color : #005bd8;
    }

    .ad-finish-box {
        color : #d30000;
    }

    .adjust-state {
        display: flex;
        align-items: center;
        justify-content: center;
        -ms-grid-column: 5;
        grid-column: 5;
        -ms-grid-row: 1;
        grid-row: 1;
        font-size: 1.2rem;
    }

        .adjust-check {
            display: inline-block;
            padding: 13px 25px;
            border-radius: 3px;
            background: #959595;
            cursor: pointer;
        }

        .ad-done-box {
            color: #fff600;
        }

        .ad-adjust-box {
            color: #fff;
        }

    .management-mode-check-box {
        text-align: center;
    }

        .what-check {
            display: block;
            margin-bottom: 5px;
            padding:3px 5px;
        }

        .check-confirm {
            padding: 5px 15px;
            border:none;
            border-radius: 3px;
            color: white;
            background:#a1a1a1;
            cursor: pointer;
        }



.adlist-ft-content-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 150px 1fr 150px;
    grid-template-columns: 150px 1fr 150px;
    -ms-grid-rows : 1;
    grid-template-rows: 1;
    margin-top: 20px;
}

.pagination {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .page-btn {
        width: 30px;
        margin: 0 2px;
        cursor: pointer;
    }

    .pagination-inner {
        display: flex;
        align-items: center;
        margin: 0 5px;
        font-size: 1.3rem;
    }

    .page-number {
        padding: 8px 10px;
        border: 1px solid #aaa;
        font-size: 1rem;
        cursor: pointer;
    }

    .page-number:not(:last-child) {
        margin-right: 5px;
    }

.btn-apply-ad-box {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 1;
    grid-row: 1;
}

    .btn-apply-ad {
        font-size: 1.4rem;
        color: #fff;
        padding: 7px 13px;
        border-radius: 5px;
        border: 1px solid #666;
        background: #662d91;
        cursor: pointer;
        outline: none;
    }

.search-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

    .search-input {
        width: 250px;
        margin-left: 5px;
    }

    .serach-icon {
        color: white;
    }

    button[type='submit'] {
        padding: 0 10px;
        margin-left: 5px;
        border:0;
        border-radius: 3px;
        background-color: #a1a1a1;
    }

@media screen and (max-width: 1440px) {
    main {
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        padding : 20px;
    }

    .adlist-common-box {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
    }

    .adlist-content-box {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 3;
        grid-row: 2;
        padding: 40px;
    }

    .request-date, .end-date, .ad-request-date-box, .ad-end-date-box {
        display: none;
    }

    .adlist-title-box, .adlist-content {
        -ms-grid-columns: 1fr 180px 180px;
        grid-template-columns:1fr 180px 180px;
    }

    .ad-content{
        -ms-grid-column: 1;
        grid-column: 1;
    }

    .ad-progress {
        -ms-grid-column: 2;
        grid-column: 2;        
    }

    .ad-adjust {
        -ms-grid-column: 3;
        grid-column: 3;
    }

    .ad-oneline-content-box {
        -ms-grid-column: 1;
        grid-column: 1;
    }

    .ad-progress-box {
        -ms-grid-column: 2;
        grid-column: 2;        
    }

    .adjust-state {
        -ms-grid-column: 3;
        grid-column: 3;
    }

    .ad-oneline-content-box {
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 0;
    }

    .m-ad-date-box {
        display: block;
        color: #777;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1em;
        margin-bottom: 10px;

    }

    .m-request-date {
        position: relative;
        padding-right: 11px;
        margin-right: 10px;
    }
    
    .m-request-date:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background: #777;
    }

    .m-date {
        display: inline-block;
        margin-left: 5px;
    }

    .ad-oneline-content-box > a {
        font-weight: 600;
    }

    .adlist-ft-content-box {
        -ms-grid-columns: 170px 1fr 170px;
        grid-template-columns: 170px 1fr 170px;
    }
    
}

@media screen and (max-width: 1300px) {
    .adlist-title-box {
        -ms-grid-columns: 1fr 150px 150px;
        grid-template-columns: 1fr 150px 150px;
        padding: 0 25px 20px;
    }
    .adlist-content {
        -ms-grid-columns: 1fr 150px 150px;
        grid-template-columns: 1fr 150px 150px;
        padding: 25px;
    }

    .adlist-ft-content-box {
        -ms-grid-columns: 140px 1fr 140px;
        grid-template-columns: 140px 1fr 140px;
    }

}

@media screen and (max-width: 1250px) {
    .adlist-title-box {
        padding: 0 0 20px;
    }
    .adlist-content {
        padding: 25px 0;
    }

    .adlist-ft-content-box {
        -ms-grid-columns: 120px 1fr 120px;
        grid-template-columns: 120px 1fr 120px;
    }
}

@media screen and (max-width: 1000px) {
    .adlist-title-box {
        -ms-grid-columns: 1fr 100px 100px;
        grid-template-columns: 1fr 100px 100px;

    }
    .adlist-content {
        -ms-grid-columns: 1fr 100px 100px;
        grid-template-columns: 1fr 100px 100px;
    }

    .adlist-ft-content-box {
        -ms-grid-columns: 100px 1fr 100px;
        grid-template-columns: 100px 1fr 100px;
    }
}


@media screen and (max-width: 750px) {
    .adlist-common-box {
        padding: 25px 30px;
    }

    .adlist-content-box {
        padding: 25px 10px;
    }
    .adlist-title-box {
        -ms-grid-columns: 1fr 80px 80px;
        grid-template-columns: 1fr 80px 80px;
        
    }
    .adlist-content {
        -ms-grid-columns: 1fr 80px 80px;
        grid-template-columns: 1fr 80px 80px;
    }
    
    .adjust-check {
        padding: 10px 18px;
    }
    
    .adlist-ft-content-box {
        -ms-grid-columns: 100%; 
        grid-template-columns: 100%;
        -ms-grid-rows: auto 15px auto;
        grid-template-rows: repeat(2, auto);
        grid-row-gap: 15px;
    }

    .pagination {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
    }

    .btn-apply-ad-box {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 3;
        grid-row: 2;
    }
    
    .btn-apply-ad {
        width:100%;
        border-radius: 0;
    }

}

@media screen and (max-width: 600px) {
    .adlist-title-box, .adlist-content {
        -ms-grid-columns: 1fr 60px 70px;
        grid-template-columns: 1fr 60px 70px;
    }
    .m-ad-date-box {
        font-size: 1.1rem;
    }

    .m-date {
        margin-left: 0;
    }

    .m-request-date {
        padding-right: 6px;
        margin-right: 5px;
    }


}