main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: auto 20px auto 20px auto;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 20px;
    padding:20px;
}

/* profit-box start */
.profit-box {
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
}

    .total-profit {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
    }

    .deduction-profit {
        -ms-grid-column: 3;
        grid-column: 2;
        -ms-grid-row: 1;
        grid-row: 1;;
    }

    .pure-profit {
        -ms-grid-column: 5;
        grid-column: 3;
        -ms-grid-row: 1;
        grid-row: 1;
    }

    .profit-content {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        padding: 20px 0px;
        font-weight: 700;
    }

    .profit-right {
        color: #757474;
    }

    .profit-left::after {
        content: '';
        position: relative;
        margin: 0px 20px;
        border: 1px solid #aaa;
    }
/* profit-box end */


/* profit-chart-box start */
.adprofit-chart-box {
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: (auto)[2];
    grid-template-rows: repeat(2, auto);
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 2;
}

    .adprofit-chart-header {
        display: flex;
        grid-column: 1;
        grid-row: 1;
        align-items: center;
        justify-content: space-between;
    }

    .profit-data-wrap {
        display:grid;
        grid-template-columns: repeat(2, 100px);
        grid-template-rows: auto;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
    }

    .left-data {
        grid-column: 1;
        grid-row: 1;
    }

    .left-data > .data-hl {
        color: #6f569c;
    }

    .right-data {
        grid-column: 2;
        grid-row: 1;
    }

    .right-data > .data-hl {
        color:#ff0000;
    }

    .data-hl {
        display: block;
        padding: 5px 0px;
    }

/*
    .data-select-box {
        display: block;
        width: 100%;
        font-size: 1.2rem;
        text-align-last: center;
        
    }

    .data-select-box > *{
        padding-left: 20px;
    }
*/
    .adprofit-chart-content {
        display: flex;
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 2;
        grid-row: 2;
    }

    #ad-profit-chart {
        display: flex;
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 2;
        grid-row: 2;
    }
/* profit-chart-box end */

/* situation, comparison box start */
.situation-comparison-box {
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 49.6%);
    grid-template-rows: auto;
    grid-column-gap: 0.8%;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 5;
    grid-row: 3;
}

    /* situation box start */
    .situation-box {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
    }

    .situation-box-header {
        display: flex;
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
        align-items: center;
        justify-content: space-between;
        height:40px;
    }

    .situation-box-content {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 2;
        grid-row: 2;
    }

    .situation-chart-content {
        display: flex;
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 2;
        grid-row: 2;
    }
    /* situation box end */

    /* comparison box start */
    .comparison-box {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
        -ms-grid-column: 3;
        grid-column: 2;
        -ms-grid-row: 1;
        grid-row: 1;

    }

    .comparison-box-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height:40px;
    }

    .comparison-box-content {
        display: flex;
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 2;
        grid-row: 2;
        flex-flow: column;

    }
    /* comparisonbox end */

    /* common board content start */
    .comparison-profit {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        color: #757474;
        flex-flow: row;
    }

    .comparison-profit:not(:last-child) {
        margin-bottom: 35px;
    }


    .comparison-sub-title::after {
        content: '';
        position: relative;
        margin: 0px 20px;
        border: 1px solid #aaa;
    }

    

    /* common board content end */

/* situation, comparison box end */




/* responsive start */


/* tablet */
@media screen and (max-width: 1300px) {
    /* profit box start */
    .profit-box {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto 20px auto 20px auto;
        grid-template-rows: repeat(3, auto);
        grid-row-gap: 20px;
    }

    .total-profit  {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
    }

    .deduction-profit {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 3;
        grid-row: 2;
    }

    .pure-profit {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 5;
        grid-row: 3;
    }
    
    .profit-content {
        padding: 30px 0px;
    }
    /* profit box end */

    .situation-comparison-box {
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        -ms-grid-rows: auto 20px auto;
        grid-template-rows: repeat(2, auto);
        grid-row-gap: 20px;
    }

    .situation-box {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
    }

    .comparison-box {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 3;
        grid-row: 2;
    }

    .comparison-profit {
        font-size: 1rem;
    }

    .comparison-box-content {
        padding-left: 0;
        padding-right: 0;
    }

    .comparison-sub-title::after {
        content: '';
        position: relative;
        margin: 0px 5px;
        border: 1px solid #aaa;
    }
}

