main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1400px 1fr;
    grid-template-columns: 1fr 1400px 1fr;
    -ms-grid-rows: auto 20px auto;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 20px;
    padding: 20px 0px;
}
.user-sub-menu {
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
    background-color: white;
    border: 2px solid #444;
    top: 50%;
    left: 50%;
    cursor: pointer;
    z-index: 998;
}

.user-sub-menu > div {
    padding: 7px;
}

.user-sub-menu > div:first-child {
    border-bottom: 2px solid black;
}

.user-modal-background {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    font-size: 1.3rem;
    z-index: 999
}

.user-smart-id {
    cursor: pointer;
}

.user-block-modal {
    width: 80%;
    max-width: 500px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

.radio-box {
    margin-bottom: 5px;
}

.block-user {
    margin-bottom: 5px;
}

#memo {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    margin: 5px 0;
    resize: none;
    outline: none;
}

.user-block-button-box {
    text-align: right;
}

.user-block-button-box > button {
    background-color: transparent;
    padding: 3px 5px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.board-common-box {
    display: flex;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    padding: 25px 50px;
    align-items: center;
}

.board-content-box {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 2;
    padding: 25px 55px;
}

.board-title-small-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.individual-board-title {
    color: #555;
    font-size: 1.7rem;
    font-weight: 600;
}

.board-info-content-box {
    line-height: 2.3em;
    padding: 20px 0;
    text-align: right;
}

    .board-nickname, .board-info-detail {
        font-size: 1.3rem;
        color: #888;
    }

.board-reply-count {
    display: inline-block;
    margin-left:20px;
}

.board-text-box {
    line-height: 1.5em;
    font-size: 1.4rem;
    color: #555;
    padding: 40px 0 80px;
}

.btn-board-adjustment-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #555;
    padding: 15px 0 60px;
}

.btn-adjust-board {
    font-size: 1.3rem;
    padding: 7px 20px;
    border: 1px solid #666;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background: #a1a1a1;
}

.btn-adjust {
    margin-right: 10px;
}

.write-reply-title {
    color: #555;
    font-size: 1.6rem;
    font-weight: 600;
}

.write-down-reply-box {
    border: 1px solid #939393;
    margin: 20px 0 35px;
    position: relative;
}

.freeze-reply {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    opacity: 0.6;
    background-color: #625e59;
}

.block-notice-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.block-notice {
    color: #7718f1;
    font-size: 1.6rem;
    font-weight: 600;
    opacity: 1;
}

.reply-detail-box {
    padding: 20px;
}

.own-smart-name {
    color: #555;
    font-size: 1.3rem;
    font-weight: 600;
}


.reply-mod, .reply-del, .reply-cancel {
    float: right;
    font-size: 1rem;
    position: relative;
    top: -3px;
    left: -10px;
    background: none;
    outline: none;
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: none;
    cursor: pointer;
}
.reply-mod, .reply-del {
    margin-left: 5px;
}

.reply-cancel {
    display: none;
}

.reply-input-size {
    display: none;
}

.own-smart-name::after {
    clear: both;
}

.reply-some-words {
    width: 100%;
    height: 100px;
    border: none;
    resize: none;
    margin-top: 10px;
    outline: none;
}

.board-reply-upload-box {
    text-align: right;
}

.board-reply-upload {
    padding: 10px 15px;
    font-size: 1.4rem;
    color: #fff;
    background: #7718f1;
    border:1px solid #7718f1;
    cursor: pointer;
}

.see-reply-box {
    border-top: 1px solid #939393;
}

.board-reply-history {
    padding: 35px 25px;
}

.board-view-reply {
    color: #555;
    font-size: 1.25rem;
    margin-top: 10px;
    line-height: 1.3em;
}

.board-view-reply > p {
    white-space: pre-line;
}

.pagination {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .page-btn {
        width: 30px;
        margin: 0 2px;
        cursor: pointer;
    }

    .pagination-inner {
        display: flex;
        align-items: center;
        margin: 0 5px;
        font-size: 1.3rem;
    }

    .page-number {
        padding: 8px 10px;
        border: 1px solid #aaa;
        font-size: 1rem;
        cursor: pointer;
    }

    .page-number:not(:last-child) {
        margin-right: 5px;
    }


@media screen and (max-width: 1440px) {
    main {
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        padding : 20px;
    }

    .board-common-box {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
    }

    .board-content-box {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 3;
        grid-row: 2;
        padding: 25px 30px;
    }
}

@media screen and (max-width: 750px) {
    .board-content-box {
        padding: 25px 15px;
    }

    .board-title-small-box {
        flex-flow: column;
        align-items: flex-start;
    }

    .board-info-content-box {
        display: flex;
        padding: 5px 0 10px;
    }

    .board-nickname, .board-info-detail {
        font-size: 1.4rem;
    }

    .board-nickname {
        margin-right: 15px;
    }

    .board-reply-count {
        margin-left: 10px;
    }
    
    .board-text-box {
        padding:10px 0 30px;
    }

    .btn-board-adjustment-wrap {
        padding: 15px 0 35px;
    }
    
    .board-reply-history {
        padding: 15px 10px;
    }

    .reply-detail-box {
        padding: 15px 10px;
    }
}

@media screen and (max-width: 460px) {
    .board-common-box {
        padding: 25px 30px;
    }
    .board-nickname, .board-info-detail {
        font-size: 1.2rem;
    }

    .board-nickname {
        margin-right: 10px;
    }

    .board-reply-count {
        margin-left: 5px;
    }

    .write-down-reply-box {
        margin: 10px 0 25px;
    }

}
