main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1400px 1fr;
    grid-template-columns: 1fr 1400px 1fr;
    -ms-grid-rows: auto 20px auto 20px auto;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 20px;
    padding: 20px 0px;
}

.cashbeeadmin-common-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    padding: 25px 50px;
}

.distribute-content-box {
    display: flex;
    justify-content: space-between;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 2;
}

.c-admin-cashbee {
    position: relative;
    font-size: 1.1rem;
    color: #002aff;
}

    .c-admin-cashbee:after {
        content:'';
        position: absolute;
        left:0;
        bottom: -2px;
        width: 0%;
        height: 1px;
        background: #0022d2;
        transition: 0.5s;
    }

    .c-admin-cashbee:hover {
        color: #0022d2;
    }

    .c-admin-cashbee:hover:after {
        width: 100%;
    }

.distribute-content-box button {
    width: 49.5%;
    padding: 15px 0;
    border:none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.3rem;
    background: #666;
    outline: none;
    cursor: pointer;
}

    .distribute-content-box button.on {
        background: #48228d;
    }

.cashbeeadmin-content-box {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 5;
    grid-row: 3;
    padding: 25px 10px;
}

/***************** cash lockpoint box start *****************/

.heading-lock {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    color: #222;
}

.tb-lockpoint-box {
    table-layout: fixed;
    width: 100%;
    margin-top: 25px;
}

.common-lockpoint-box {
    border-top: 1px solid #000;
    border-bottom: 1px solid #b2b2b2;
    color: #333;
    font-size: 1.2rem;
    font-weight: 600;
    background: #efefef;
}

.common-lockpoint-box th {
    padding: 20px 10px;
    box-sizing: border-box;
}

    .cl-num {
        width: 100px;
    }

    .cl-identy {
        width: 200px;
    }

    .cl-date {
        width: 260px;
    }

    .cl-card {
        width: 200px;
    }
    
    .cl-tid {
        width: 180px;
    }

.cashbee-lockpoint-box {
    text-align: center;
    font-size: 1.1rem;
    color: #444;
}

.cashbee-lockpoint-box > tr:nth-child(2n) {
    background: #f2f2f2;
}

.tb-lockpoint-box > .cashbee-lockpoint-box tr:hover {
    background: #eaedf8;
}

.cashbee-lockpoint-box td {
    padding: 20px 10px;
    vertical-align: middle;
}

    .btn-point-confirm {
        padding: 5px 12px;
        border-radius: 5px;
        border: 1px solid #662d91;
        color: #662d91;
        background: transparent;
        cursor: pointer;
        outline: none;
    }
    .btn-point-confirm:hover {
        color: #fff;
        background: #662d91;
    }

/***************** cash lockpoint box end *****************/


/***************** cash recharge box start *****************/

.search-id-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.search-id-box input {
    width: 500px;
    height: 38px;
    margin-right: 5px;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 1px solid #777;
}

.btn-search-id {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background: #636363;
    color: #fff;
    cursor: pointer;
}

.tb-cashbee-box {
    table-layout: fixed;
    width: 100%;
    margin-top: 25px;
}

.common-cashbee-box {
    border-top: 1px solid #000;
    border-bottom: 1px solid #b2b2b2;
    color: #333;
    font-size: 1.2rem;
    font-weight: 600;
    background: #efefef;
}

.common-cashbee-box th {
    padding: 20px 10px;
    box-sizing: border-box;
}

    .cg-num {
        width: 100px;
    }
    
    .cg-date {
        width: 280px;
    }

    .cg-user {
        width: 150px;
    }
    
    .cg-nickname {
        width: 190px;
    }

    .cg-card, .cg-tid {
        width: 250px;
    }

.cashbee-history-box {
    text-align: center;
    font-size: 1.1rem;
    color: #444;
}

.cashbee-history-box > tr:nth-child(even) {
    background: #f2f2f2;
}

.tb-cashbee-box > .cashbee-history-box tr:hover {
    background: #eaedf8;
}

.cashbee-history-box td {
    padding: 20px 10px;
    vertical-align: middle;
}

/***************** cash recharge box end *****************/


@media screen and (max-width: 1440px){
    main {
        overflow-x: scroll;
    }
}
