html, body {
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Nanum Gothic', sans-serif;
}

.border-right {
    border-right: 1px solid #dcdcdc;
}

.border-bottom {
    border-bottom: 1px solid #dcdcdc;
}

.pdt-30 {
    padding-top: 30px;
}

.pdb-30 {
    padding-bottom: 30px;
}

.pdt-40 {
    padding-top: 40px;
}

.pdr-40 {
    padding-right: 40px;
}

.pdl-40 {
    padding-left: 40px;
}

.pd-40 {
    padding: 40px;
}

.content-hl {
    font-size: 1.8rem;
    font-weight: 800;
}

.content-box-layout {
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.03);
    background-color: white;
}

.more-btn {
    width: 100px;
    height:45px;
    color: white;
    outline: none;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 5px;
    background-color: #6f569c;
    cursor: pointer;
}

/* wrap grid */
#wrap {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto);
}

/* wrap grid */

/* header start */
.header-wrap {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    padding:20px 40px;
    z-index:999;
    box-shadow: 2px 1px 5px 3px #eee
}
    header {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        align-items: center;
    }

    .logo-box {
        width: 150px;
        margin-right: 200px;
    }

    .logo-box img {
        width: 100%;
    }

    nav ul{
        display: flex;
        font-size: 1.2rem;
        font-weight: 700;
    }

    nav ul li:not(:last-child) {
        margin-right: 100px;
    }

    .user-info {
        display: flex;
        margin-left: auto;
        align-items: center;
    }

    .user-name {
        font-size: 1.5rem;
        font-weight: 800;
        margin-right: 20px;
    }
    .login-info {
        padding: 10px 20px;
        font-size: 1.2rem;
        font-weight: 800;
        color: #707070;
        border: 1px solid #666;
        border-radius: 5px;
        background: none;
        cursor: pointer;
    }


/* header end */


/* main start */

.main-wrap {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    background-color: #f0f4fb;
}
main {
    grid-column: 1;
    grid-row: 2;
}

/* main emd */