
@font-face {
    font-family: 'Gothic A1';
    src: local('Gothic A1'),
    url('../font/GothicA1-Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Gothic A1';
    src: local('Gothic A1'),
    url('../font/GothicA1-Bold.woff2') format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'Gothic A1';
    src: local('Gothic A1'),
    url('../font/GothicA1-ExtraBold.woff2') format('woff2');
    font-weight: 800;
}


html, body {
    box-sizing: border-box;
    font-family: 'Gothic A1';
    font-size: 12px;
}

.border-right {
    border-right: 1px solid #dcdcdc;
}

.border-bottom {
    border-bottom: 1px solid #dcdcdc;
}

.pdt-30 {
    padding-top: 30px;
}

.pdb-20 {
    padding-bottom: 20px;
}

.pdb-30 {
    padding-bottom: 30px;
}

.pdt-40 {
    padding-top: 40px;
}

.pdr-40 {
    padding-right: 40px;
}

.pdl-40 {
    padding-left: 40px;
}

.pd-20 {
    padding: 20px;
}

.pd-30 {
    padding: 30px;
}

.pd-40 {
    padding: 40px;
}

.content-hl {
    font-size: 1.5rem;
    font-weight: 800;
}

.content-box-layout {
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.03);
    background-color: white;
}

.more-btn {
    width: 80px;
    height:40px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    background-color: #683b93;
    cursor: pointer;
}

/* wrap grid */
#wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: (auto)[2];
    grid-template-rows: repeat(2, auto);
}

/* wrap grid */

/* header start */
.header-wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    padding:20px 40px;
    z-index:999;
    box-shadow: 2px 1px 5px 3px #f0f4fb;
}
    header {
        display: flex;
        -ms-grid-column: 1;
        grid-column: 1;
        grid-row: 1;
        -ms-grid-row: 1;
        align-items: center;
    }

    .logo-box {
        width: 200px;
        margin-right: 200px;
    }

    .logo-box img {
        width: 100%;
    }

    nav {
        display: flex;
        align-items: center;
    }

    nav img {
        display:none;
        width: 30px;
    }

    nav ul{
        display: flex;
        font-size: 1.2rem;
        font-weight: 700;
        color: #230353;
    }

    nav ul li:not(:last-child) {
        margin-right: 80px;
    }

    .user-info {
        display: flex;
        margin-left: auto;
        align-items: center;
    }

    .user-name {
        margin-right: 20px;
        font-size: 1.2rem;
        font-weight: 700;
        color: #230353;
    }
    .login-info {
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 800;
        color: white;
        background-color: #1abbef;
        cursor: pointer;
    }


/* header end */


/* main start */

.main-wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    background-color: #eff3fa;
}
main {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
}

/* main emd */