main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1400px 1fr;
    grid-template-columns: 1fr 1400px 1fr;
    -ms-grid-rows: auto 20px auto;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 20px;
    padding: 20px 0px;
}

.faq-common-box {
    display: flex;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    padding: 25px 50px;
    align-items: center;
    justify-content: space-between;
}



.faq-content-box {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 2;
    padding: 25px 30px;
}

    .faq-search-box {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #aaa;
    }

        .faq-search-input {
            width: 250px;
            margin-left: 5px;
        }

        .serach-icon {
            color: white;
        }

        button[type='submit'] {
            border:none;
            border-radius: 3px;
            padding: 0px 10px;
            background-color: #a1a1a1;
            margin-left: 5px;
        }


    .faq-content {
        padding: 30px 0px;
        padding-left:40px;
    }

    .faq-content-hl {
        display:flex;
        align-items: center;
        font-size: 1.2rem;
        color: #333;
        font-weight: 600;
    }

    .question-span {
        color: #555;
    }


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

    .pagination-inner {
        display: flex;
        align-items: center;
        font-size: 1.3rem;
    }

    .pagination-inner > li {
        cursor: pointer;
    }

    .pagination-inner > li > img {
        width: 25px;
    }

    .pagination-inner > li:not(:last-child) {
        margin-right: 15px;
    }




@media screen and (max-width: 1440px) {
    main {
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        padding : 20px;
    }

    .faq-common-box {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
    }

    .faq-content-box {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 3;
        grid-row: 2;
    }
}

@media screen and (max-width: 550px) {
    .faq-content {

        padding-left:20px;
    }

    }
        .faq-common-box > h3 {
            -ms-grid-column: 1;
            grid-column: 1;
            -ms-grid-row: 1;
            grid-row: 1;
        }
    


}