main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: auto 20px auto 20px auto 20px auto;
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 20px;
    padding:20px;
}

/* profit-box start */
.profit-box {
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
}

    .prev-month {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
    }

    .current-month {
        -ms-grid-column: 3;
        grid-column: 2;
        -ms-grid-row: 1;
        grid-row: 1;;
    }

    .change-percentage {
        -ms-grid-column: 5;
        grid-column: 3;
        -ms-grid-row: 1;
        grid-row: 1;
    }

    .profit-content {
        display: flex;
        padding: 20px 0px;
        font-size: 1.2rem;
        font-weight: 700;
        align-items: center;
        justify-content: center;
    }

    .profit-right {
        color: #757474;
    }

    .profit-left::after {
        position: relative;
        margin: 0px 20px;
        border: 1px solid #aaa;
        content: '';
        background-color: #aaa;
    }
/* profit-box end */


/* profit-chart-box start */
.profit-chart-box {
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: (auto)[2];
    grid-template-rows: repeat(2, auto);
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 2;
}

    .profit-chart-header {
        display: flex;
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
        align-items: center;
        justify-content: space-between;
    }

    .profit-chart-content {
        display: flex;
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 2;
        grid-row: 2;
    }

    #index-profit-chart {
        display: flex;
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 2;
        grid-row: 2;
    }
/* profit-chart-box end */

/* notice, faq box start */
.notice-faq-box {
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 5;
    grid-row: 3;
}

    /* notice box start */
    .notice-box {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
    }

    .notice-box-header {
        display: flex;
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
        align-items: center;
        justify-content: space-between;
    }

    .notice-box-content {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 2;
        grid-row: 2;
    }
    /* notice box end */

    /* faq box start */
    .faq-box {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
        -ms-grid-column: 3;
        grid-column: 2;
        -ms-grid-row: 1;
        grid-row: 1;
    }

    .faq-box-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .faq-box-content {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 2;
        grid-row: 2;
    }
    /* faq box end */

    /* common board content start */
    .board-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
        color: #757474;
    }

    .board > .board-content:not(:last-child) {
        margin-bottom: 35px;
    }

    /* common board content end */

/* notice, faq box end */


/* game-result start */
.game-result {
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: (auto)[2];
    grid-template-rows: repeat(2, auto);
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 7;
    grid-row: 4;
}
    .game-result-header {
        display: flex;
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
        align-items: center;
        justify-content: space-between;
    }

    .game-result-content {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 2;
        grid-row: 2;
    }

    .zombie-race {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
    }

    .zombie-fight {
        -ms-grid-column: 2;
        grid-column: 2;
        -ms-grid-row: 1;
        grid-row: 1;
    }

    .zombie-break {
        -ms-grid-column: 3;
        grid-column: 3;
        -ms-grid-row: 1;
        grid-row: 1;
    }
    
    .zombie-drop {
        -ms-grid-column: 4;
        grid-column: 4;
        -ms-grid-row: 1;
        grid-row: 1;
    }


    .game-table {
        display:-ms-grid;
        display:grid;
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        -ms-grid-rows: auto 20px auto;
        grid-template-rows: repeat(2, auto);
        grid-row-gap: 20px;
    }

    .game-table-header {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
        font-size: 1.2rem;
        font-weight: 700;
    }

    .game-table-content {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 3;
        grid-row: 2;
        table-layout: fixed;
        width: 100%;
        text-align: center;
        font-size: 0.9rem;
        font-weight: 400;
        color: #757474;
    }


    .game-table-row:not(:last-child) {
        border-bottom: 1px solid #dcdcdc;
    }
    
    .game-table-row > * {
        padding: 15px 0px;
    }

    .col {
        width:20%;
        border-right: 1px solid #dcdcdc;
    }
/* game-result end */



/* responsive start */


/* tablet */
@media screen and (max-width: 1300px) {
    /* profit box start */
    .profit-box {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto 20px auto 20px auto;
        grid-template-rows: repeat(3, auto);
        grid-row-gap: 20px;
    }

    .prev-month {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
    }

    .current-month {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 3;
        grid-row: 2;
    }

    .change-percentage {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 5;
        grid-row: 3;
    }
    
    .profit-content {
        padding: 30px 0px;
    }
    /* profit box end */

    .notice-faq-box {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto 20px auto;
        grid-template-rows: repeat(2, auto);
        grid-row-gap: 20px;
    }

    .notice-box {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
    }

    .faq-box {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 3;
        grid-row: 2;
    }

    .game-result-content {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto 20px auto 20px auto 20px auto;
        grid-template-rows: repeat(4, auto);
        grid-row-gap: 20px;
    }

    .zombie-race {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
        padding: 0;
        padding-top: 30px;
        border: 0;
    }

    .zombie-fight {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 3;
        grid-row: 2;
        padding: 0;
        padding-top: 30px;
        border: 0;
    }

    .zombie-break {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 5;
        grid-row: 3;
        padding: 0;
        padding-top: 30px;
        border: 0;
    }
        
    .zombie-drop {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 7;
        grid-row: 4;
        padding: 0;
    }
}

@media screen and (max-width: 860px) {
    .board-content-header {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .board-content-header {
        width: 70%;
    }
}

@media screen and (max-width: 330px) {
    .board-content-header {
        width: 65%;
    }
}
