html, body {
    height:100%;
    font-size: 12px;
}

.wrap {
    display: flex;
    flex-flow: row;
    width:100%;
    height:100%;
}

/* left box content start */

.login-left {
    display: flex;
    flex-flow: column;
    width: 50%;
    height:100%;
    background: linear-gradient(#7401b6, #2d0a9c);
    justify-content: center;
    align-items: center;
}

    .login-left img {
        margin-bottom: 60px;
    }

    .slogan {
        display: flex;
        flex-flow: column;
        margin-bottom: 60px;
        font-size: 5rem;
        text-align: center;
        color: white;
    }
    .slogan span:last-child {
        font-weight: bold;
    }

    .circle-wrap {
        display:flex;
    }
    .circle {
        border-radius: 50%;
        background-color:white;
        width: 20px;
        height: 20px;
    }
    .circle:last-child {
        margin-left: 20px;
    }

/* left box content end */

/* right box content start */

.login-right {
    display: flex;
    flex-flow: column;
    width: 50%;
    height:100%;
    background-color: white;
    align-items: center;
    justify-content: center;
}

    .login-right img {
        width: 150px;
        margin-bottom: 50px;
    }

    input {
        width: 400px;
        height: 50px;
        box-sizing: border-box;
        -webkit-appearance: none;
        border: 1px solid #1abbef;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }
    input:focus{
        outline: none;
    }
    .id-input, .pw-input {
        padding: 15px;
        background: url(../images/input-check.png) no-repeat 95% 50%;
        background:none;/*check img 숨김처리*/
    }
    .id-input:focus, .pw-input:focus {
        border: 1px solid #4d06a7;
    }
    .pw-input {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .submit-input{
        margin-bottom: 20px;
        background-color: #1abbef;
        font-size: 2rem;
        color:white;
        cursor: pointer;
    }

    .contact-wrap {
        text-align: center;
        font-weight: bold;
        color: #555;
    }

/* right box content end */

@media screen and (max-width:980px) {
    .login-left {
        display: none;
    }

    .login-right {
        width: 100%;
    }
}

@media screen and (max-width:440px) {
    input {
        width: 90%;
    }
}