@font-face {
    font-family: 'Gothic A1';
    src: local('Gothic A1'),
    url('../font/GothicA1-Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Gothic A1';
    src: local('Gothic A1'),
    url('../font/GothicA1-SemiBold.woff2') format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'Gothic A1';
    src: local('Gothic A1'),
    url('../font/GothicA1-Bold.woff2') format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'Gothic A1';
    src: local('Gothic A1'),
    url('../font/GothicA1-ExtraBold.woff2') format('woff2');
    font-weight: 800;
}

html, body {
    overflow-x: hidden;
    font-family: 'Gothic A1';
    height: 100%;
    font-size: 12px;
}

#wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    background: linear-gradient(-46deg,#7401b6,#2d0a9c 75%);
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 1600px;
    padding: 150px 0;
    z-index: 999;
    border-radius: 10px;
    background-color: blue;
    background: linear-gradient(46deg,#fff 30%,#ddd);
    box-shadow: 0 10px 20px 10px rgba(40,40,40,0.5);
}

.bg {
    width: 25%;
}

.bodybg1 {
    position: absolute;
    top:0;
    left:0;
}

.bodybg2 {
    position: absolute;
    bottom :0;
    right :0;
    opacity: 0.5;
}

.login-logo {
    width: 120px;
    margin-bottom: 55px;
}

input {
    width: 470px;
    height: 75px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
}

input[type="text"], input[type="password"]
{
    font-weight: 600;
    color: #aaa;
    font-size:1.5rem;
    margin-bottom: 10px;
    padding: 0 15px;
    /* background-image: url('../images/login_check.png'); */
    background-repeat: no-repeat;
    background-position: center right 15px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-weight: 600;
    color: #aaa;
    opacity: 1; /* Firefox */
}


input[type="submit"]
{
    font-size:2rem;
    color: white;
    font-weight: 600;
    background: linear-gradient(90deg, #6503b1 30%,#300a9d);
    cursor: pointer;
    margin-bottom: 50px;
    
}

input:focus {
    border: 1px solid #4d06a7;
    outline: none;
}

.pk-value, .encrypt-id, .encrypt-pw {
    display: none;
}

.tooltiptext {
    width: 470px;
    font-size: 1.2rem;
    display: none;
    color: red;
    padding: 0 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.copyright {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
}

@media screen and (max-width: 1770px) {
    main {
        width :90%;
    }

    .bg {
        width: 40%;
    }
}

@media screen and (max-width: 900px) {
    html, body {
        font-size: 10px;
    }
    .bg {
        width: 60%;
    }
    main {
        padding: 100px 0;
    }

    input {
        height: 50px;
    }
}

@media screen and (max-width: 580px) {

    input {
        width: 80%;
    }

    .tooltiptext {
        width: 80%;
    }
}