main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1400px 1fr;
    grid-template-columns: 1fr 1400px 1fr;
    -ms-grid-rows: auto 20px auto 20px auto;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 20px;
    padding: 20px 0px;
}

.myresult-common-box {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    padding: 25px 50px;
}

.bet-history {
    margin-left: 30px;
    color: #555;
    font-size: 1.3rem;
    font-weight: normal;
}

.mybet-content-box {
    display: flex;
    justify-content: space-between;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 2;
}

.mybet-content-box button {
    width: 24%;
    padding: 15px 0;
    border:none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.3rem;
    background: #666;
    outline: none;
    cursor: pointer;
}

.mybet-content-box button.on {
    background: #48228d;
}

.myresult-content-box {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 5;
    grid-row: 3;
    padding: 25px 20px;
}

table {
    table-layout: fixed;
    width: 100%;
}

.tb-main-title {
    margin-bottom: 15px;
    font-size: 1.4rem;
    text-align: left;
}

tbody {
    text-align: center;
}

.myresult-small-title {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.one-line> th, .one-line> td{
    padding: 30px 0;
    font-size: 1.2rem;
    vertical-align: middle;
    line-height: 1.4em;
}
.one-line> th:not(:last-child), .one-line> td:not(:last-child) {
    border-right: 1px solid #d4d4d4;
}

@media screen and (max-width: 1440px) {
    main {
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        padding : 20px;
    }

    .myresult-common-box {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
        padding: 25px 50px;
    }
    
    .mybet-content-box {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 3;
        grid-row: 2;
    }

    .myresult-content-box {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 5;
        grid-row: 3;
    }
}

@media screen and (max-width: 650px) {
    .myresult-content-box {
        padding: 25px 10px;
    }

    .betting-zombie {
        width:30%;
    }
    .game-money-col {
        width: 38%;
    }

    .result-grade {
        width:13%;
    }

    .choice-number {
        width: 36%;
    }

    .game-reward {
        width: 33%;
    }
}

@media screen and (max-width: 550px) {
    .goal-times {
        width: 13%;
    }
}