main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1400px 1fr;
    grid-template-columns: 1fr 1400px 1fr;
    -ms-grid-rows: auto 20px auto 20px auto;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 20px;
    padding: 20px 0px;
}

.myresult-common-box {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    padding: 25px 50px;
}

.bet-history {
    margin-left: 30px;
    color: #555;
    font-size: 1.3rem;
    font-weight: normal;
}

.mybet-content-box {
    display: flex;
    justify-content: space-between;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 2;
}

.mybet-content-box button {
    width: 24%;
    padding: 15px 0;
    border:none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.3rem;
    background: #666;
    outline: none;
    cursor: pointer;
}

.mybet-content-box button.on {
    background: #48228d;
}

.myresult-content-box {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 5;
    grid-row: 3;
    padding: 25px 30px;
}

table {
    table-layout: fixed;
    width: 100%;
}

.tb-main-title {
    margin-bottom: 15px;
    font-size: 1.4rem;
    text-align: left;
}

tbody {
    text-align: center;
}

.myresult-small-title {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.one-line> th, .one-line> td{
    padding: 20px 0;
    font-size: 1.2rem;
    vertical-align: middle;
    line-height: 1.4em;
}
.one-line> th:not(:last-child), .one-line> td:not(:last-child) {
    border-right: 1px solid #d4d4d4;
}


@media screen and (max-width: 1440px) {
    main {
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        padding : 20px;
    }

    .myresult-common-box {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
        padding: 25px 50px;
    }
    
    .mybet-content-box {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 3;
        grid-row: 2;
    }

    .myresult-content-box {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 5;
        grid-row: 3;
    }
}

@media screen and (max-width: 1300px){
    .myresult-content-box {
        padding: 25px 15px;
    }
}

@media screen and (max-width: 1100px){
    .drop-times {
        width: 80px;
    }
    .goal-times {
        width: 80px;
    }
    .high-grade {
        width:80px;
    }
}

@media screen and (max-width: 1000px){
    .drop-times {
        width: 60px;
    }
    .goal-times {
        width: 60px;
    }
    .high-grade {
        width:60px;
    }
}

@media screen and (max-width: 850px){
    .drop-times {
        width: 30px;
    }
    .goal-times {
        width: 40px;
    }
    .high-grade {
        width:60px;
    }
}

@media screen and (max-width: 700px) {
    main {
        grid-row-gap: 15px;
    }

    .myresult-common-box {
        padding: 25px 0 25px 30px;
    }

    .bet-history {
        margin-left: 10px;
    }

    .count-star {
        width: 70px;
    }

}

@media screen and (max-width: 650px) {
    .myresult-content-box {
        -ms-grid-rows: auto 15px auto 15px auto;
        padding: 25px 10px;
    }

    .one-line> th, .one-line> td {
        padding: 15px 0;
        font-size: 1rem;
    }
    
    .more-spare {
        display: block;
    }

    .count-star {
        width: 50px;
    }

    .result-grade {
        width: 65px;
    }

    
    .drop-times {
        width: 35px;
    }
    .goal-times {
        width: 40px;
    }
    .goal-spons {
        width: 60px;
    }
    .high-grade {
        width: 35px;
    }

}
@media screen and (max-width: 550px) {
    .drop-date {
        width: 65px;
    }
    .drop-times {
        width: 25px;
    }
    .goal-money, .goal-rank {
        width: 50px;
    }
    .goal-times {
        width: 25px;
    }
    .goal-spons {
        width: 25px;
    }
    .high-grade {
        width: 30px;
    }
}

@media screen and (max-width: 500px) {    
    .count-star {
        width: 30px;
    }

    .result-grade {
        width: 40px;
    }


    .drop-date {
        width: 60px;
    }
    .drop-times {
        width: 20px;
    }
    
    .selected-num {
        width:80px;
    }

    .goal-money, .goal-rank {
        width: 40px;
    }
    .goal-times {
        width: 20px;
    }
    .goal-spons {
        width: 20px;
    }
    .high-grade {
        width: 20px;
    }
}