/* responsive start */
@media screen and (max-width: 2260px) {
    html {
        font-size: 12px;
    }
}

/* tablet */
@media screen and (max-width: 1300px) {
    html {
        font-size: 11px;
    }
    header {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    
    .user-info {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .logo-box {
        grid-column: 1;
        grid-row: 2;
        margin-right: 0;
    }

    nav {
        grid-column: 2;
        grid-row: 2;
    }

    nav ul {
        width: 100%;
        justify-content: flex-end;
    }

    .profit-box {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-row-gap: 20px;
    }

    .prev-month {
        grid-column: 1;
        grid-row: 1;

    }

    .current-month {
        grid-column: 1;
        grid-row: 2;
    }

    .change-percentage {
        grid-column: 1;
        grid-row: 3;
    }
    
    .profit-content {
        padding: 30px 0px;
    }

    .notice-faq-box {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        grid-row-gap: 20px;
    }

    .notice-box {
        grid-column: 1;
        grid-row: 1;
    }

    .faq-box {
        grid-column: 1;
        grid-row: 2;
    }

    .game-result-content {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-row-gap: 20px;
    }

    .zombie-race {
        grid-column: 1;
        grid-row: 1;
        padding: 0;
        padding-top: 30px;
        border: none;
    }

    .zombie-fight {
        grid-column: 1;
        grid-row: 2;
        padding: 0;
        padding-top: 30px;
        border: none;
    }

    .zombie-break {
        grid-column: 1;
        grid-row: 3;
        padding: 0;
        padding-top: 30px;
        border: none;
    }
}



/* mobile */

@media screen and (max-width: 960px) {

    nav {
        display: flex;
        align-items: center;
    }
    nav ul {
        display: none;
    }

    nav img {
        display: block;
        width: 40px;
        margin-left: auto;
    }
}

@media screen and (max-width: 400px) {

    html {
        font-size: 8px;
    }
}