main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1400px 1fr;
    grid-template-columns: 1fr 1400px 1fr;
    -ms-grid-rows: auto 20px auto 20px auto;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 20px;
    padding: 20px 0px;
}

.serviceadmin-common-box {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    padding: 25px 50px;
}

.sorted-content-box {
    display: flex;
    justify-content: space-between;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 2;
}

.sorted-content-box button {
    width: 19%;
    padding: 15px 0;
    border:none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.3rem;
    background: #666;
    outline: none;
    cursor: pointer;
}

.sorted-content-box button.on {
    background: #48228d;
}

.serviceadmin-content-box {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 5;
    grid-row: 3;
    padding: 25px 10px;
}

table {
    table-layout: fixed;
    width: 100%;
}

.common-subject-box {
    border-top: 1px solid #000;
    border-bottom: 1px solid #b2b2b2;
    color: #333;
    font-size: 1.2rem;
    font-weight: 600;
    background: #efefef;
}

.common-subject-box th {
    padding: 20px 0;
}


/******************** point refund page start *********************/

.apply-btn-box {
    margin-bottom: 25px;
}

.apply-btn-box button {
    padding: 10px 25px;
    border:1px solid #17a2b8;
    border-radius: 3px;
    font-size: 1.2rem;
    color: #888;
    background: white;
    outline: none;
    cursor: pointer;
}

.apply-btn-box button:not(:last-child){
    margin-right: 10px;
}

.apply-btn-box button.active {
    color : white;
    background: #17a2b8;
}

.apply-btn-box button:hover {
    color : white;
    background: #0091b3;
}

/* common-subject-box th fixed width start */

    .p-check {
        width: 50px;
    }

    .p-num {
        width: 55px;
    }

    .p-date {
        width: 240px;
    }

    .p-bank {
        width: 210px;
    }

    .p-prudence {
        width: 280px;
    }

/* common-subject-box th fixed width end */

.point-list-box {
    text-align: center;
    font-size: 1.1rem;
    color: #444;
}

.point-list-box tr:nth-child(even){
    background: #f2f2f2;
}

.point-list-box tr:not(:last-child) {
    border-bottom: 1px solid #e2e2e2;
}

.point-list-box tr:hover {
    color: #fff;
    background: #4d0ca5;
}

.point-list-box td {
    padding: 20px 0;
}

.point-list-box button {
    padding: 8px 28px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    color: white;
    outline: none;
    cursor: pointer;
}

    .btn-confirm {
        margin-right: 30px;
        border-color: #007bff;
        background: #007bff;
    }

    .btn-confirm:hover {
        border-color: #0062cc;
        background: #0069d9;        
    }

    .btn-reject {
        border-color: #dc3545;
        background: #dc3545;
    }

    .btn-reject:hover {    
        border-color: #bd2130;
        background: #bd2130;
    }

    .finished-refund-point {
        color: #007bff;
        font-weight: 600;
    }

    .canceled-refund-point {
        color: #dc3545;    
        font-weight: 600;    
    }

    .point-list-box tr:hover .finished-refund-point, .point-list-box tr:hover .canceled-refund-point {
        color: #fff;
    }


/******************** point refund page end *********************/



/******************** P2P page start *********************/

.state-btn-box{
    margin-bottom: 25px;
}

.state-btn-box button {
    padding: 7px 15px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    font-size: 1.2rem;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.btn-primary {
    color: #007bff;
    border-color: #007bff;
}
.state-btn-box button:nth-child(1).alive {
    color: #fff;
    background: #007bff;
}

.state-btn-box button.btn-primary:hover {
    color: #fff;
    border-color: #0062cc;
    background: #0069d9;
}

.btn-dispute {
    color: #dc3545;
    border-color: #dc3545;
    background: #dc3545;
}

.state-btn-box button:nth-child(2).alive {
    color: #fff;
    background: #dc3545;
}

.state-btn-box button.btn-dispute:hover {
    color: #fff;
    border-color: #bd2130;
    background: #c82333;
}

/* common-subject-box th fixed width start */

    .s-num {
        width: 100px;
    }

    .s-apply {
        width: 220px;
    }

    .s-deal {
        width: 180px;
    }

    .s-step {
        width: 50px;
    }

/* common-subject-box th fixed width end */

.peer-list-box {
    text-align: center;
    font-size: 1.1rem;
    color: #444;
}

.peer-list-box tr:not(:last-child) {
    border-bottom: 1px solid #e2e2e2;
}

.peer-list-box tr:hover {
    background: #f7f7f7;
}

.peer-list-box td {
    padding: 20px 0;
}

.peer-list-box button {
    padding: 5px 10px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    color: white;
    outline: none;
    cursor: pointer;
}

    .p-bind {
        margin-right: 5px;
    }

    .p-spon {
        color: #fff;
        border-color: #6c757d;
        background: #6c757d;
    }

    .p-spon:hover {
        border-color: #545b62;
        background: #5a6268;
    }

    .p-point {
        border-color: #ecba41;
        background: #ecba41;
    }

    .p-point:hover {
        border-color: #e2ad2b;
        background: #e2ad2b;
    }

    .p-danger {
        border-color: #dc3545;
        background: #dc3545;
    }
    .p-danger:hover {    
        border-color: #bd2130;
        background: #bd2130;
    } 

/******************** P2P page end *********************/



/******************** admin find pw page start *********************/

.find-admin-pw {
    margin: 50px 0;
    text-align: center;
}

#busy-hands {
    width: 500px;
    height: 50px;
    margin-right: 5px;
    padding: 10px 15px;
    border: 1px solid #999;
    box-sizing: border-box;
    font-size: 1.5rem;
    outline: none;
}

.btn-phone-num, .btn-signify-name {
    height: 50px;
    padding: 10px 15px;
    border: 1px solid #4d06a7;
    border-radius: 3px;
    color: #4d06a7;
    font-size: 1.3rem;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.btn-phone-num:hover, .btn-signify-name:hover {
    color: #fff;
    background: #4d06a7;
} 

.ur-pw-result {
    margin-top: 60px;
    font-size: 1.6rem;
}

.beebun {
    color: #007bff;
    font-weight: 600;
    font-size: 1.8rem;
}

/******************** admin find pw page end *********************/





/******************** admin advertisement supplier page start *********************/

.plus-more-supplier {
    margin: 0 15px 10px 0;
    text-align: right;
}

.btn-add-supplier {
    padding: 7px 20px;
    border: 1px solid #4d06a7;
    border-radius: 3px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    background: #4d06a7;
    cursor: pointer;
    outline: none;
}

    .btn-add-supplier:hover {
        background: #410099;
    }

.supplier-big-bg {
    position: fixed;
    top: 85px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/bg_supplier.png);
}

.write-supplier-info {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 600px;
    padding: 30px 20px;
    margin-left: -320px;
    border-radius: 5px;
    background: white;
}

.add-new-supplier {
    margin-bottom: 20px;
    font-size: 1.6rem;
}

.sorted-supplier-list div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

    .sorted-supplier-list>div:not(.company-identification) {
        border: 1px solid #d4d9df;
        border-radius: 3px;
        background: #e9ecef;
    }

    .sorted-supplier-list>div:not(:last-child){
        margin-bottom: 5px;
    }

.sorted-supplier-list label {
    display: inline-block;
    text-align: center;
    width: 15%;
}
.sorted-supplier-list input{
    width: 85%;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 1.2rem;
}

.company-identification div{
    float: left;
    width: 49.5%;
    box-sizing: border-box;
    border: 1px solid #d4d9df;
    border-radius: 3px;
    font-size: 1.2rem;
    background: #e9ecef;
}

    .company-identification div:first-child {
        margin-right: 1%;
    }

    .company-identification:after {
        content: '';
        display: block;
        clear: both;
    }

.company-identification div label {
    width: 38%;
}

.btn-supplier-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.btn-supplier-box button {
    padding: 7px 15px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.btn-supplier-box button:not(:last-child) {
    margin-right: 5px;
}

.registration-supplier {
    border-color: #007bff;
    color: white;
    background: #007bff;
}

    .registration-supplier:hover {    
        background: #0069d9;
    }

.reset-supplier {
    border-color: #aaa;
    color: #444;
    background: #eee;
}

    .reset-supplier:hover {
        color: white;
        background: #bbb;
    }

.close-supplier {
    border-color: #dc3545;
    color: white;
    background: #dc3545;
}

    .close-supplier:hover {    
        background: #bd2130;
    }

/* common-subject-box th fixed width start */

    .identify-num {
        width: 100px;
    }

    .location-advertisement {
        width: 200px;
    }

    .more-writing {
        width: 250px;
    }

/* common-subject-box th fixed width end */

.supplier-list-box {
    text-align: center;
    font-size: 1.1rem;
    color: #444;
}

.supplier-list-box tr:nth-child(even){
    background: #f2f2f2;
}

.supplier-list-box tr:not(:last-child) {
    border-bottom: 1px solid #e2e2e2;
}

.supplier-list-box td {
    padding: 20px 0;
    vertical-align: middle;
}

.move-to-supplier {
    padding: 10px 15px;
    border-radius: 3px;
    color: #fff;
    background: #007bff;
}

    .move-to-supplier:hover {
        background: #0069d9;
    }

.supplier-list-box button {
    padding: 7px 15px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.check-supplier-pw {
    border-color: #007bff;
    color: #007bff;
}

    .check-supplier-pw:hover {
        color: white;
        background: #007bff;
    }

.adjust-supplier {
    border-color: #2faf4e;
    color: #2faf4e;
    margin-right: 10px;
}

    .adjust-supplier:hover {
        color: white;
        background: #2faf4e;
    }

.del-supplier {
    border-color: #dc3545;
    color: #dc3545;
}
    .del-supplier:hover {
        color: white;
        background: #dc3545;
    }

/******************** admin advertisement supplier page end *********************/

@media screen and (max-width: 1450px){

    .supplier-big-bg {
        top: 128px;
    }

}

@media screen and (max-width: 1440px){

    main {
        overflow-x: scroll;
    }

}

@media screen and (max-width: 745px){

    .write-supplier-info {
        width:500px;
        margin-left: -270px;
    }

}

@media screen and (max-width: 600px){

    .write-supplier-info {
        top: 20%;
        width:350px;
        margin-left: -195px;
        padding: 20px 10px;
    }

    .add-new-supplier {
        text-align: center;
    }

    .sorted-supplier-list div {
        display: block;
    }

    .sorted-supplier-list>div:not(:last-child) {
        margin-bottom: 10px;
    }

    .sorted-supplier-list label {
        display: block;
        width: 100%;
        padding: 10px 0;
        box-sizing: border-box;
    }
    
    .sorted-supplier-list input{
        width: 100%;
    }

    .company-identification div {
        float: none;
        width: 100%;
    }

    .company-identification div label {
        width: 100%;
    }

    .company-identification div:first-child {
        margin-right: none;
        margin-bottom: 10px;
    }

    .btn-supplier-box button:not(:last-child) {
        margin-right: 10px;
    }

}