main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 20px;
    padding:20px;
}
/* profit-box start */
.profit-box {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-column: 1;
    grid-row: 1;
}

    .prev-month {
        grid-column: 1;
        grid-row: 1;
    }

    .current-month {
        grid-column: 2;
        grid-row: 1;
    }

    .change-percentage {
        grid-column: 3;
        grid-row: 1;
    }

    .profit-content {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        padding: 20px 0px;
        font-weight: 700;
    }

    .profit-right {
        color: #757474;
    }

    .profit-left::after {
        content: '';
        position: relative;
        margin: 0px 20px;
        border: 1px solid #aaa;
    }
/* profit-box end */


/* profit-chart-box start */

.profit-chart-box {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto);
    grid-column: 1;
    grid-row: 2;
}

    .profit-chart-header {
        display: flex;
        grid-column: 1;
        grid-row: 1;
        align-items: center;
        justify-content: space-between;
    }

    .profit-chart-content {
        display: flex;
        grid-column: 1;
        grid-row: 2;
    }

    #index-profit-chart {
        display: flex;
        grid-column: 1;
        grid-row: 2;
    }

/* profit-chart-box end */

/* notice, faq box start */

.notice-faq-box {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-column: 1;
    grid-row: 3;
}

/* notice box start */
    .notice-box {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, auto);
        grid-column: 1;
        grid-row: 1;
    }

    .notice-box-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
/* notice box end */
/* faq box start */
    .faq-box {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, auto);
        grid-column: 2;
        grid-row: 1;
    }

    .faq-box-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
/* faq box end */

/* common board content start */
    .board-content {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        color: #757474;

    }

    .board > .board-content:not(:last-child) {
        margin-bottom: 35px;
    }
/* common board content end */

/* notice, faq box end */

.game-result {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto);
    grid-column: 1;
    grid-row: 4;
}
    .game-result-header {
        display: flex;
        grid-column: 1;
        grid-row: 1;
        align-items: center;
        justify-content: space-between;
    }

    .game-result-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-column: 1;
        grid-row: 2;
    }

    .zombie-race {
        grid-column: 1;
        grid-row: 1;
    }

    .zombie-fight {
        grid-column: 2;
        grid-row: 1;
    }

    .zombie-break {
        grid-column: 3;
        grid-row: 1;
    }

    .game-table {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        grid-row-gap: 20px;
    }

    .game-table-header {
        grid-column: 1;
        grid-row: 1;
        font-size: 1.3rem;
        font-weight: 800;
    }

    .game-table-content {
        grid-column: 1;
        grid-row: 2;
        table-layout: fixed;
        width: 100%;
    }

    .game-table-content {
        text-align: center;
        font-size: 1.3rem;
        font-weight: 600;
        color: #757474;
    }

    .game-table-content .game-table-row:not(:last-child) {
        border-bottom: 1px solid #dcdcdc;
    }
    
    .game-table-row > * {
        padding: 20px 0px;
    }

    .col {
        border-right: 1px solid #dcdcdc;
        width:20%;
    }